<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConsumerKey" value="YBT735qy0jwAlJ7TTCVBp1QWm" />
    <add key="ConsumerSecret" value="YW1biCphN6kRzdIWYR4YLbGyGHyfcL76cCH21oo0bSXhapGKiR" />
    <add key="AccessToken" value="2548450969-yQQDQGr82XpMvnJHqdgR58IIuKeRzWu18EpQMqL" />
    <add key="AccessTokenSecret" value="56Du30b496Q3Zr924qZYIG27DKwOloYLI8HG6t8qoIjvL" />
  </appSettings>
</configuration>